<%- include('partials/adminhead.ejs') %>


    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                
                <div class="card-box mb-30">
                    <h2 class="h4 pd-20">All coupon</h2>
                    <table class="data-table table nowrap">
                        <thead>

                            <tr>
                                <th class="table-plus datatable-nosort">#</th>
                                <th>Code</th>
                             
                                <th>Exp-date</th>
                                <th>Min Cart-Amount</th>
                                <th class="datatable-nosort">Discount Amount</th>
                                <th class="datatable-nosort">Action</th>



                            </tr>
                        </thead>
                        <tbody>
                            <% coupen.forEach((element,i)=>{ %>
                                <tr>
                                    <th scope="row">
                                        <%= i+1 %>
                                    </th>
                                    <td>
                                        <%= element.code %>
                                    </td>
                                    
                                    <td>
                                        <%= element.expiredAfter.toLocaleString() %>
                                    </td>
                                    <td>
                                        <%= element.mincartAmout %>
                                    </td>
                                    <td>
                                        <%= element.maxdiscountAmount %>
                                    </td>


                                    <td>
                                        <div class="dropdown">
                                            <a
                                              class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                              href="#"
                                              role="button"
                                              data-toggle="dropdown"
                                            >
                                              <i class="dw dw-more"></i>
                                            </a>
                                            <div
                                              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                                            >
                                            
                                            <button  class="dropdown-item  dw dw-edit2" data-toggle="modal" data-target="#Edit<%= element._id %>">              
                                            
                                               Edit
                                              </button> 
                                              <a
                                                class="dropdown-item"
                                                href="/admin/deletecoupon/<%=element._id%>"
                                                onclick="return confirm('Are you sure')" 
                                                ><i class="dw dw-delete-3"></i> Delete</a
                                              >
                                            </div>
                                      
                                      
                                        
                                    </td>


                                </tr>


                                <div class="modal fade" id="Edit<%= element._id %>" tabindex="-1" role="dialog" aria-labelledby="aria-labelledby" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <form action="/admin/editcoupon/<%= element._id %>" method="post">
                                            <div class="form-floating mb-3">
                                                <label for="code">Code</label>
                                              <input type="text" class="form-control" value="<%= element.code %>" required  id="code" placeholder="Code" name="code">
                                            </div>
                                            <div class="form-floating mb-3">
                                                <label for="available">Availability</label>
                                
                                              <input type="number" class="form-control" id="available" placeholder="Availability"  value="<%= element.available %>" name="available">
                                            </div>
                                            <input type="hidden" name="status" value="active">
                                            <div class="form-floating mb-3">
                                                <label for="max-discount">Maximum Discount Amount</label>
                                
                                              <input type="number" class="form-control" id="max-discount" placeholder="Maximum Discount Amount"  value="<%= element.maxdiscountAmount %>" name="maxdiscountAmount">
                                            </div>
                                            <div class="form-floating mb-3">
                                                <label for="min-cart">Minimum Cart Amount</label>
                                
                                              <input type="number" class="form-control" id="min-cart" placeholder="Minimum Cart Amount"  value="<%= element.mincartAmout %>" name="mincartAmout">
                                            </div>
                                            <div class="form-floating mb-3">
                                                <label for="exp-date">Expiration Date</label>
                                
                                                <input type="date" class="form-control" id="exp-date" name="expiredAfter" value="<%= element.expiredAfter.toISOString().substr(0,10) %>" >
                                            </div>
                                            <button type="submit" class="btn btn-primary w-100">Update Coupon</button>
                                          </form>
                                      </div>
                                    </div>
                                  </div>

                                <% }) %>



                        </tbody>
                    </table>
                </div>
                <a href="addnewcoupen"  class="btn btn-primary">Add-Coupon</a>
            </div>
        </div>

        <%- include('partials/adminfooter.ejs') %>