<%- include('userpartials/userhead.ejs') %>

<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading mb-10"></div>
                <div class="table-wishlist" style="margin-top: 70px;">
                    <table cellpadding="0" cellspacing="0"  border="0" width="100%">
                    
                        <tbody>
                            <% if (wishlist==null|| wishlist.length===0  ) { %>

                              <link rel="stylesheet" type="text/css" href="/user/css/emptywish.css">
    
                              <div class="section__content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 u-s-m-b-30">
                                            <div class="empty">
                                                <div class="empty__wrap">
            
                                                    <span class="empty__big-text">EMPTY</span>
            
                                                    <span class="empty__text-1">No items found on your wishlist.</span>
            
                                                    <a class="empty__redirect-link btn--e-brand" href="/allproducts">CONTINUE SHOPPING</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                              </tr>
                              <% } else { %>


                                <thead>
                                  <tr>
                                      <th width="45%">Product Details</th>
      
                                      <th width="15%">Unit Price</th>
                                      <th width="15%">Stock Status</th>
                                      <th width="15%"></th>
                                      <th width="10%"></th>
                                  </tr>
                              </thead>
                                <% wishlist.forEach((product) => { %>
                                    <tr  data-id="<%= product.name %>">
                                      <td width="45%">
                                        <div class="display-flex align-center">
                                          <div class="img-product">
                                            <img src="/productupload/<%= product.image %>" alt="" class="mCS_img_loaded">
                                          </div>
                                          <div class="name-product">
                                            <%= product.name %>


                                              
                                          </div>
                                          <select class="product-size" name="size"  >
                                            <% product.sizes.forEach((size) => { %>
                                              <option value="<%= size %>"><%= size %></option>
                                            <% }) %>
                                          </select>
                                      
                                        </div>
                                      </td>
                                      <td width="15%" class="price"><%= product.price %></td>
                                      <% if (product.stock > 0) { %>
                                        <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                      <% } else { %>
                                        <td width="15%"><span class="out-stock-box">Out of Stock</span></td>
                                      <% } %>
                                    
                                        <td width="15%">
                                        <button class="round-black-btn small-btn"   onclick="addtoCart('<%=product.name %>', document.querySelector('select[name=\'size\']').value)">Add to Cart</button>
                                      </td>
                                      <td width="10%" class="text-center"><button class="trash-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg></button></td>
                                    </tr>
                                  <% }); %>
                                  

                            <% } %>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('userpartials/userfooter.ejs') %>

