<%- include('userpartials/userhead.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script
        src="https://www.paypal.com/sdk/js?client-id=<%= paypalid %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<div class="bg0 p-t-75 p-b-85">
    
        <div class="container">
            <div class="row">


                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">


                        <% if (addresses.length==0) { %>

                            <% } else { %>

                                <% for(let i=0;i<addresses[0].address.length;i++){ %>


                                    <div class="card" class="col-lg-10 col-xl-7 m-lr-auto m-b-50" id="show-add"
                                        style="width: 28rem;">
                                        <div class="card-header d-flex justify-content-between align-items-center">

                                            <input type="radio" class="address-radio" name="address"
                                                value="<%= addresses[0].address[i]._id %>">


                                            <div class="mx-auto text-center">
                                                <h6>Address</h6>
                                            </div>
                                            <a href="/delete/<%= addresses[0].address[i]._id %>">
                                                <i class="material-icons">delete</i>
                                            </a>

                                        </div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <%= addresses[0].address[i].name %>
                                            </li>
                                            <li class="list-group-item">
                                                <%= addresses[0].address[i].email %>
                                            </li>
                                            <li class="list-group-item">
                                                <%= addresses[0].address[i].phone %>
                                            </li>
                                            <li class="list-group-item">
                                                <%= addresses[0].address[i].state %>
                                            </li>
                                            <li class="list-group-item">
                                                <%= addresses[0].address[i].city %>
                                            </li>
                                            <li class="list-group-item">
                                                <%= addresses[0].address[i].pin %>
                                            </li>
                                            <li class="list-group-item">
                                                <%= addresses[0].address[i].address %>
                                            </li>

                                        </ul>

                                        <button type="button" class="btn btn-outline-primary ms-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#Edit<%= addresses[0].address[i].id %>">Update</button>


                                    </div>

                                    <div class="modal fade"  style="margin-top: 70px;" id="Edit<%= addresses[0].address[i].id %>" tabindex="-1" aria-labelledby="aria-labelledby" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="model-title">Update</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                   <!---------------------------------------------------------------------------->
                                              <form class="row g-3 needs-validation" novalidate action="/editaddress/<%= addresses[0].address[i].id %>" method="post">
                                                <div class="col-md-6">
                                                  <label for="validationCustom01" class="form-label">Name</label>
                                                  <input type="text" class="form-control" name="name" id="validationCustom01" value="<%= addresses[0].address[i].name %>" required>
                                                  <div class="valid-feedback">
                                                    Looks good!
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <label for="validationCustom01" class="form-label">Phone</label>
                                                  <input type="tel" class="form-control" name="phone" id="validationCustom01" value="<%= addresses[0].address[i].phone %> " required>
                                                  <div class="valid-feedback">
                                                    Looks good!
                                                  </div>
                                                </div>
                                               
                                                <div class="col-md-12">
                                                    <label for="validationCustom03" class="form-label">Email</label>
                                                    <input type="text" class="form-control" id="validationCustom03" required name="email" value="<%= addresses[0].address[i].email %> ">
                                                    <div class="invalid-feedback">
                                                      Please provide a valid email.
                                                    </div>
                                              </div>
                                              <label for="validationCustom03" class="form-label">Address</label>
                                                  <input type="text" class="form-control" id="validationCustom03" value="<%= addresses[0].address[i].address %> " required name="address">
                                             
                                                <div class="col-md-6">
                                                  <label for="validationCustom03" class="form-label">Town</label>
                                                  <input type="text" class="form-control" id="validationCustom03" required name="city" value="<%= addresses[0].address[i].city %> ">
                                                  <div class="invalid-feedback">
                                                    Please provide a valid city.
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <label for="validationCustom03" class="form-label">State</label>
                                                  <input type="text" class="form-control" id="validationCustom03" required name="state" value="<%= addresses[0].address[i].state %> ">
                                                  <div class="invalid-feedback">
                                                    Please provide a valid city.
                                                  </div>
                                                </div>
                                                <div class="col-md-3">
                                                  <label for="validationCustom05" class="form-label">Pin</label>
                                                  <input type="number" placeholder="<%= addresses[0].address[i].pin %>" class="form-control" id="validationCustom05" required name="pin" value="<%= addresses[0].address[i].pin %>">
                                                  <div class="invalid-feedback">
                                                    Please provide a valid zip.
                                                  </div>
                                                </div>
                                                <button type="submit"  class="btn btn-primary">Save changes</button>
                                             
                                              </form>
                                    <!----------------------------------------------------------------------------------> 
                                            </div>
                                            <div class="modal-footer"> 
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    <% } %>

                                        <% } %>
                                            <div class="card" id="show-adding" style="width: 18rem; height: 100px;">
                                                <div class="card-body">
                                                    <button class="btn btn-success  js-show-modal1 " id="editbtn1">Add
                                                        New address</button>
                                                </div>
                                            </div>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Order Summery
                        </h4>

                        <% if (!cart) { %>

                            <div class="flex-w flex-t bor12 p-b-13">
                                <div class="col-sm-12 empty-cart-cls text-center">
                                    <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                        class="img-fluid mb-4 mr-3">
                                    <h3><strong>Your Cart is Empty</strong></h3>
                                    <a href="/allproducts" class="btn btn-primary cart-btn-transform m-3"
                                        data-abc="true">continue
                                        shopping</a>


                                </div>
                            </div>

                            <% }%>



                                <div id="order" style="display:block ;">
                                    <ul class="header-cart-wrapitem w-full">

                                        <% if (cart) { %>

                                            <% cart.items.forEach(function(item){ %>

                                                <li class="header-cart-item flex-w flex-t m-b-12">
                                                    <div class="header-cart-item-img">
                                                        <img src="/productupload/<%= item.product.images[1] %>"
                                                            alt="IMG">
                                                    </div>

                                                    <div class="header-cart-item-txt p-t-8">
                                                        <a href="#"
                                                            class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                                            <%= item.product.name %>
                                                        </a>

                                                        <span class="header-cart-item-info">
                                                            <%= item.quantity%> x Rs.
                                                                <%=item.product.price%>
                                                        </span>
                                                    </div>
                                                </li>
                                                <% }) %>
                                    </ul>

                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                Cart Total
                                                <span id="subtotal">
                                                    <%= cartitems.cartTotal%>
                                                </span>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                Discount
                                                <span id="Discount"></span>

                                            </li>

                                            <li>
                                                <label for=""
                                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                    Enter coupon code for Discount</label>
                                                <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5"
                                                    type="text" id="validcoupen" onchange="coupenpost(this.value)"
                                                    name="coupon" placeholder="Coupon Code">
                                            </li>

                                            <li>

                                                <h6 style="font-weight: bold;color: green;" id="coupen">

                                                </h6>


                                                <h6 style="font-weight: bold;color: red;" id="coupenerr">

                                                </h6>
                                            </li>



                                            <div style="display: block;" id="paymentoptions">

                                                <label for="">Select Payment Option</label>
                                                <select id="payment-selector" style="display: none;"
                                                    class="form-select form-select-m mb-3"
                                                    aria-label=".form-select-lg example">

                                                    <option value="">Select Payment Method
                                                    </option>
                                                    <option value="cod" name="selector">Cash on
                                                        delivery</option>


                                                    <option name="selector" value="paypal">
                                                        Online Payment</option>


                                                </select>
                                                <h6 id="selectaddress" style="display: block;color: red;">
                                                    Please
                                                    select a address</h6>

                                                <div style="display: none;" id="paypal-button-container">
                                                </div>



                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                                    <div>
                                                        <strong>Total amount</strong>
                                                        <strong>
                                                            <p class="mb-0">(including GST)</p>
                                                        </strong>
                                                    </div>
                                                    <span class="mtext-110 cl2" id="Payable">
                                                        <%=(0.18*cartitems.cartTotal+cartitems.cartTotal).toFixed(0)%>
                                                    </span>
                                                </li>
                                        </ul>

                                    </div>


                                    <% } else { %>


                                        <div class="wrap-header-cart js-panel-cart">
                                            <div class="s-full js-hide-cart"></div>

                                            <div class="header-cart flex-col-l p-l-65 p-r-25">
                                                <div class="header-cart-title flex-w flex-sb-m p-b-8">
                                                    <span class="mtext-103 cl2">
                                                        Your Cart is empty
                                                    </span>
                                                    <div
                                                        class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                                                        <i class="zmdi zmdi-close"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <% } %>


                                            <div id="error" style="display: none;color: red;font-size: large; ">
                                                <h6 style="color: red;font-size: large;"></h6>
                                            </div>

                                            <button t ype="button" id="myButton"
                                                class="btn btn-primary btn-lg btn-block" style="display: none;">Make
                                                Purchase</button>

                                </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
    </div>
    



    <!-- Button trigger modal -->
    <button style="display: none;" type="button" id="ordersuccess" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Thank You for Purchase with us
                </div>
                <div class="modal-footer">

                    <a href="/allproducts"><button type="button" class="btn btn-success"
                            data-bs-dismiss="modal">Continue Purchase</button></a>

                    <a href="/orders"><button type="button" class="btn btn-primary">Go to orders</button></a>
                </div>
            </div>
        </div>
    </div>




    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"></div>

        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <img src="user/images/icons/icon-close.png" alt="CLOSE">
                </button>
                <div class="container">
                    <form id="addressform" autocomplete="off">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="formName">Name</label>
                                <input type="text" class="form-control" id="formName" name="name"
                                    placeholder="Enter your name" onchange="validateForm()">

                                <small class="form-text text-danger" id="nameError"></small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="formEmail">Email</label>
                                <input type="email" class="form-control" id="formEmail" name="email"
                                    placeholder="Enter your email" onchange="validateForm()">
                                <small class="form-text text-danger" id="emailError"></small>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="formPhone">Phone</label>
                                <input type="number" class="form-control" id="formPhone" name="phone"
                                    placeholder="Enter your phone number" onchange="validateForm()">
                                <small class="form-text text-danger" id="phoneError"></small>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="formState">State</label>
                                <input type="text" class="form-control" id="formState" name="state"
                                    placeholder="Enter your state" onchange="validateForm()">
                                <small class="form-text text-danger" id="stateError"></small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="formCity">City</label>
                                <input type="text" class="form-control" id="formCity" name="city"
                                    placeholder="Enter your city" onchange="validateForm()">
                                <small class="form-text text-danger" id="cityError"></small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="formPin">Pin</label>
                                <input type="number" class="form-control" id="formPin" name="pin"
                                    placeholder="Enter your pin code" onchange="validateForm()">
                                <small class="form-text text-danger" id="pinError"></small>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formAddress">Address</label>
                            <textarea class="form-control" id="formAddress" name="address" rows="3"
                                placeholder="Enter your address" onchange="validateForm()"></textarea>
                            <small class="form-text text-danger" id="addressError"></small>
                        </div>
                        <button type="button" id="savebtn" style="display: none;"
                            class="btn btn-success btn-block mt-3">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Categories
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Women
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Men
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shoes
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Watches
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Help
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Track Order
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Returns
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shipping
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        GET IN TOUCH
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018
                        or
                        call us
                        on (+1) 96 716 6879
                    </p>

                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Newsletter
                    </h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                                placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="/user/images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="/user/images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="/user/images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="/user/images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="/user/images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Made
                    with
                    <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                        target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!--===============================================================================================-->
    <script src="/user/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/user/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/user/vendor/bootstrap/js/popper.js"></script>
    <script src="/user/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/user/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="/user/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/user/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>





    <!--===============================================================================================-->
    <script src="/user/js/main.js"></script>

    </body>


    <%- include('userpartials/userfooter.ejs') %>



        <script>

            const addressselection = document.querySelectorAll(".address-radio");

            const paymentSelector = document.getElementById('payment-selector');

            const paypalButtonContainer = document.getElementById('paypal-button-container');

            const messageaddress = document.getElementById('selectaddress');






            const button = document.getElementById("myButton");



            addressselection.forEach(function (radioInput) {

                radioInput.addEventListener("change", function () {

                    let isAnySelected = false;

                    addressselection.forEach(function (radioInput) {
                        if (radioInput.checked) {

                            isAnySelected = true;
                        }
                    });

                    if (isAnySelected) {

                        paymentSelector.style.display = "block"


                        messageaddress.style.display = "none"

                    } else {
                        paymentSelector.style.display = "none"

                        messageaddress.style.display = "block"
                    }
                });
            });

            var ordersuccessbtn = document.getElementById('ordersuccess')


            paymentSelector.addEventListener('change', () => {
                if (paymentSelector.value == 'paypal') {
                    paypalButtonContainer.style.display = 'block';
                    button.style.display = "none";

                } else if (paymentSelector.value == 'cod') {
                    button.style.display = "block";
                    paypalButtonContainer.style.display = 'none';

                }

                else {
                    paypalButtonContainer.style.display = 'none';

                    button.style.display = "none";

                }
            });


            paypal.Buttons({
                createOrder: function () {

                    const discount = document.getElementById('validcoupen').value

                    const total = document.getElementById('Payable').innerText

                    return fetch("/create-order", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            coupen: discount, total
                        })
                    }).then(res => {
                        if (res.ok) return res.json()
                        return res.json().then(json => Promise.reject(json))
                    })
                        .then(({ id }) => {
                            return id
                        })
                        .catch(e => {
                            console.error(e.error)
                        })
                },
                onApprove: function (data, actions) {
                    return actions.order.capture().then(async function (details) {

                        const paysuccess = document.getElementById('paymentoptions')
                        paysuccess.style.display = "none"
                        
                        button.style.display = "block";
                        button.click();
                        ordersuccessbtn.click();

                    })
                },
            }).render('#paypal-button-container');
        </script>

        <script src="/user/js/cart.js"></script>



        </body>

        </html>