<!DOCTYPE html>
<html lang="en">

    
<head>
    <title>Coza Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/user/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/user/css/util.css">
    <link rel="stylesheet" type="text/css" href="/user/css/main.css">



<!-- for wishlist -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    


    <link rel="stylesheet" href="/user/css/mycss.css">
    <!--===============================================================================================-->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/user/sidebar/css/style.css">


        <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/user/images/icons/favicon.png"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="/user/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/user/css/util.css">
        
        <link rel="stylesheet" type="text/css" href="/user/css/main.css">
    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
      
    </head>

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">

            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop container">
                    <!-- Logo desktop -->
                    <a href="/" class="logo">
                        <img src="/user/images/icons/logo-01.png" alt="IMG-LOGO">
                    </a>
                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li >
                                <a href="/">Coza store</a>
                            </li>

                            <li>
                                <a href="/allproducts">Shop</a>
                            </li>

                            <li>
                                <a href="/allwishlist">Wishlist</a>
                            </li>

                             <li>
                                 <a href="/cart"  >Cart</a>
                            </li>

                            <li>
                                <a href="/checkout">Checkout</a>
                            </li>

                            <li>
                                <a href="/orders">Order</a>
                            </li>

                           
                        </ul>
                    </div>
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header js-show-user">
                            <i class='fas fa-user-tie'></i>
                        </div>

                        <% if (cart){%>
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header js-show-cart   icon-header-noti js-show-cart" data-notify="<%=cart.items.length%>" >
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>

                   <% } %>

                    </div>
                    </div>
                </nav>
            </div>
            		<!-- Header Mobile -->

                    <div class="wrap-header-mobile">
                        <!-- Logo moblie -->		
                        <div class="logo-mobile">
                            <a href="/" class="logo">
                                <img src="/user/images/icons/logo-01.png" alt="IMG-LOGO">
                            </a></div>
            
                        <!-- Icon header -->
                        <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header js-show-user">
                                <i class='fas fa-user-tie'></i>
                            </div>
    
                            <% if (cart){%>
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header js-show-cart   icon-header-noti js-show-cart" data-notify="<%=cart.items.length%>" >
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
    
                       <% } %>
    
                        </div>
            
                        <!-- Button show menu -->
                        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </div>
                    </div>

                    <div class="menu-mobile">
            
                        <ul class="main-menu-m">
                            <li >
                                <a href="/">Coza store</a>
                            </li>

                            <li>
                                <a href="allproducts">Shop</a>
                            </li>

                            <li>
                                <a href="allwishlist">Wishlist</a>
                            </li>

                             <li>
                                 <a href="cart"  >Cart</a>
                            </li>

                            <li>
                                <a href="checkout">Checkout</a>
                            </li>

                            <li>
                                <a href="/orders">Order</a>
                            </li>

                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
    
       
    </header>

    <!-- Cart -->



    <% if (user) { %>
        <div class="wrap-header-cart js-panel-user">
            <div class="s-full js-hide-cart"></div>
    
            <div class="header-cart flex-col-l p-l-65 p-r-25">
                <div class="header-cart-title flex-w flex-sb-m p-b-8">
                    
    
                    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-user">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                    <span class="mtext-103 cl2">
                        Welcome to coza store  <%= user.first_name %>
                       </span>
                </div>
    
                <div class="header-cart-content flex-w js-pscroll">
                    <ul class="header-cart-wrapitem w-full"  >
                       
                        <li class="header-cart-item flex-w flex-t m-b-12">
                          
                        </li>
                        <a href="/userprofile/<%= user._id %>"  style="align-items: center;"
                        class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04  m-b-10">
                        view user profile
                    </a>
    
                    
                    </ul>
    
                    <div class="w-full">
    
                        <div class="header-cart-buttons flex-w w-full">
                            <a href="/logout"
                                class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                                Log Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% if (cart) { %>
        <div class="wrap-header-cart js-panel-cart">
            <div class="s-full js-hide-cart"></div>
    
            <div class="header-cart flex-col-l p-l-65 p-r-25 " >
                <div class="header-cart-title flex-w flex-sb-m p-b-8">
                    <span class="mtext-103 cl2">
                        Your Cart
                    </span>
    
                    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                </div>
                
                <div class="header-cart-content flex-w js-pscroll">
                   
                    
                    <ul class="header-cart-wrapitem w-full">
                       
                        <% cart.items.forEach(function(item){ %>

                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <img src="/productupload/<%= item.product.images[1] %>" alt="IMG">
                            </div>
    
                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    <%= item.product.name %>
                                </a>
    
                                <span class="header-cart-item-info">
                                    <%= item.quantity%> x Rs. <%=item.product.price%>
                                </span>
                            </div>
                        </li>
                    <% }) %>
                    </ul>
                    
                    <div class="w-full">
                        <div class="header-cart-total w-full p-tb-40">
                            Total: <%=cart.cartTotal%>
                        </div>
    
                        <div class="header-cart-buttons flex-w w-full">
                            <a href="/cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                                View Cart
                            </a>
    
                            <a href="/checkout" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                                Check Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       


        <% } else { %>


        <div class="wrap-header-cart js-panel-cart">
            <div class="s-full js-hide-cart"></div>
    
            <div class="header-cart flex-col-l p-l-65 p-r-25">
                <div class="header-cart-title flex-w flex-sb-m p-b-8">
                    <span class="mtext-103 cl2">
                        Your Cart i s empty
                    </span>
                    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                </div>
            </div>
        </div>

        <% } %>


        <% } else { %>
    
    <div class="wrap-header-cart js-panel-user">
        <div class="s-full js-hide-cart"></div>
    
        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
                <span class="mtext-103 cl2">
                    welcome to coza store 
                </span>
    
                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-user">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>
            
            <div class="header-cart-content flex-w js-pscroll">
                
                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Please login or sign up for purchase a product
                    </div>
    
                    <div class="header-cart-buttons flex-w w-full">
                        <a href="/login" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                            login
                        </a>
    
                        <a href="/signup" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                            sign up
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% } %>
    
    